@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.mainHeading {
  font-family: "Savate", sans-serif;
}

:root {
  --primary-color: #314CB6;
}

.btnBg {
  background-color: var(--primary-color);
}

.txtBg {
  background-color: var(--primary-color);
}

/* Apply globally */
html,
body,
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.primColor {
  background-color: #09814A;
}